@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  
  .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .menu{
      font-size: 2rem;
      margin-right: 1rem;
      color: rgb(43, 125, 238);
  }
  .header .logo{
      margin: 1rem;
  }
  .visible-menu{
      display: none;
   }
  /* banner section */
  .banner-section{
   padding: 1rem;
   text-align: center;
  }
  .banner-img img{
      width: 100%;
      height: 100%;
  }
  .banner-content h1{
      font-weight: 600;
      font-size:40px;
      line-height: 50px;
  }
  .banner-content p{
      line-height: 32px;
      font-size: 21px;
      font-weight: 300;
      margin: 15px 0;
  }
  .banner-content .button{
      all: unset;
      background-color: rgba(69, 143, 246, 1);
      border: 2px solid rgba(69, 143, 246, 1);
      padding: 1rem 1.3rem;
      border-radius: 30px;
      color: white;
      font-size: 18px;
      font-weight: 300;
  }
  .banner-content .button:hover{
      background-color: unset;
      color: rgba(69, 143, 246, 1);
  }
  .service-section{
      padding:2rem  1rem;
      text-align: center;
  }
  .service-section:hover .line{
      width: 100px;
  }
  .service-content h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
  }
  .service-content p{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }
  .line{
    border: 2px solid black;
    width: 40px;
    margin: 15px auto;
    border-radius: 2px;
    transition:  width 1s ;

  }
  .line:hover{
    width: 100px;
  }
  .banner-side {
    display: none;
}
/* service section2 */

.service-section{
    padding: 1rem;
}
.service-content p{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.card-overall{
    margin: 3rem 0;
}
.card-overall .card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: red; */
    padding: 3rem 2rem;
    margin: 1rem 0;
}
.card{
    border-radius: 20px;
}
.card img{
    padding-bottom: 1rem ;
}
.card h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;

}
.card p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;

}
.small-card-img{
    padding-top: 1rem;
}
.service-side-img{
    display: none;
}
.service-side2{
    display: none;
}
.btn{
    all: unset;
    border: 2px solid rgba(69, 143, 246, 1);
    border-radius: 30px;
    padding: 1rem 3rem;
    color: rgba(69, 143, 246, 1);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2rem;
}
.btn:hover{
    background-color: rgba(69, 143, 246, 1);
    color: white;
}
.leading-section{
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
}
.leading-section:hover .line1{
    width: 120px;
}
.leading-img img{
    width: 100%;
}
.leading-overall h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    
}
.leading-overall p{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.line1{
    width: 60px;
    margin: 1rem auto;
    border: 2px solid black;
    border-radius: 2px;
    transition: width 2s;
}
.download-section{
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
}
.download-section:hover .line1{
    width: 120px;
}
.download-section img{
    width: 100%;
}
.download-content h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}
.download-content p{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.latest-artical-section{
    margin: 2rem 0;
    padding: 1rem;
}
.latest-artical-section:hover .artical-line{
    width: 120px;
}
.artical-overall{
    text-align: center;
}
.artical{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1.5rem 0;
}
.artical-content{
    padding: 1rem;
}
.artical-content h4{
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
}
.artical-content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: .7rem 0;
}
.artical-btn{
    all: unset;
    color: rgba(69, 143, 246, 1);
    margin: 1rem 0;
}
.artical img{
    width: 100%;
}
.artical-line{
    width: 60px;
    margin: 2rem auto;
    border: 2px solid black;
    border-radius: 2px;
    transition: width 1s;
}
.last-button{
    padding-bottom: 2rem;
   display: flex;
   justify-content: center;
}
.view-more{
    all: unset;
    border: 2px solid rgba(69, 143, 246, 1);
    color: rgba(69, 143, 246, 1);
    padding: 1rem 4rem;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}
.view-more:hover{
    background-color: rgba(69, 143, 246, 1);
    color: white;
}
.artical-side{
    display: none;
}
footer{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-top: 1rem;
}
.footer-overall{
    padding: 2rem 1rem;
    color: white;
    /* line-height: 2rem; */
}
.footer-overall ul{
    list-style-type: none;
}
.footer-overall ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;

}
.footer-overall p{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 1rem;
}
footer h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
}
.small-logo {
    position: relative;
}
.t-img{
    position:absolute;
    top: 35%;
    left:13px;
}
.small-logo p{
    margin: .3rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
}
.footer1 p{
    margin-top: .2rem;
}
.small-logo{
    display: flex;
    align-items: center;
    /* margin-left: .5rem; */
}
.right-img{
    display: none;
   
}
.footer-side-img{
    display: none;
}
.footlast-img{
    display: none;
}
.w3-content{
    display: none;
}

/* media query for 769 */
@media (min-width: 769px) { 
    .menu{
        display: none;
    }
    .hide{
        display: none;
    }
    .header{
        position: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .visible-menu{
        display:block;
    }
    .visible-menu ul{
        list-style-type: none;
        display: flex;
    }
    .visible-menu ul li a{
        text-decoration: none;
        padding: 0 1rem;
        color: rgba(31, 21, 52, 1);
        font-weight: 400;
        font-size: 18px;
    }
    .visible-menu ul li a:hover{
        color: rgb(13, 111, 249);
       
        
    }
    .banner-content h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
    }
    /* service section */
    .service-content p{
        width: 75%;
        margin: 0 auto;
    }
    .banner-overall{
        position: relative;
    }
    .banner-side {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .this-btn{
        margin: 2.5rem 0;
    }
    
   
    
  }
  /* media query for 1025  */
@media (min-width:1025px){
    /* body{
        display: none;
    } */
    .header .logo{
        margin: 2rem 0 3rem ;
    }
    .banner-section{
        text-align: unset;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }
    .line{
        margin: 26px auto;
      }
    .service-section .card-overall{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        text-align: left;
    }
    .card p{
        margin: unset;
    }
    .service-outline{
        position: relative;
    }
    .service-side-img{
        display: block;
        position: absolute;
        top: 0;
        z-index: -1;
        left: -10px;
        top: 20%;
    }
    .card-overall{
        margin: 4rem 0;
    }
    .service-side2{
        display: block;
        position: absolute;
        right: 7%;
        z-index: -1;
        top: 45%;
    }
    .btn{
        margin-bottom: 4rem;
    }
    .leading-section,.download-section{
        text-align: unset;
    }
    .leading-overall{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .line1{
        margin: 2rem 0;
    }
    .leading-content, .download-content{
        width: 35%;
    }
     .download-overall{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    } 
    .artical-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
    
    .footer-overall{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
    .latest-artical-section{
        position: relative;
    }
    .artical-side{
        display: block;
        position: absolute;
        top:-5%;
        right: 0%;
        z-index: -1;
    }
    .right-img{
        display: block;
        position:absolute;
        top: 14%;
        z-index: -1;
        left: 8%;
    }
    footer{
        padding: 3rem 0;
        position: relative;
    }
    .footer-side-img{
        display: block;
        position: absolute;
        /* top: 0; */
        bottom: 0;
    }
    .foot-last-img{
        display: block;
        position: absolute;
        right: 3%;
        bottom: -23%;
    }
    .w3-content{
        display: block;
        /* background-color: red; */
    }
    .mySlides {
        display:none;
    }
    .w3-content img{
        width: 70%;
        border-radius: 50%;
    }

    /* .line{
        width: 60px;
        margin: 0 auto;
        border: 2px solid black;
        border-radius: 2px;
        transition: width 2s;
    }
    .w3-content:hover .slide-line{
        width: 150px;
    } */
    .slide-section{
        /* background-color: rgba(69, 143, 246, 1); */
        text-align: center;
        padding-left: 4rem;
        width: 30%;
        margin: 1rem auto 10rem;
    }
    .w3-container p{
        font-size: 17px;
    }
    .slide-heading{
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        padding-bottom: 2rem;
    }
}
  /* media query for 1200 */
@media (min-width:1200px){
    /* body{
        display: none;
    } */
    .header{

        width: 80%;
        margin: 0 auto;
    }
    .visible-menu ul li a{
        padding: 0 1.5rem;
    }
    
    .banner-section{
        width: 80%;
        margin: 0 auto;
        text-align: unset;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        padding: 1.5rem 0;

    }
    .banner-content{
        width: 35%;
    }
    /* .banner-content{
        width: 75%;
    } */
    .banner-content p{
        margin: 2rem 0;
    }
    .service-content{
        width: 80%;
        margin: 0 auto;
    }
    .service-section .card-overall{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        text-align: left;
    }
    .card p{
        margin: unset;
    }
    .leading-section,.download-section{
        text-align: unset;
        width: 80%;
        margin: 7rem auto;
    }
    .leading-section,.download-section{
        margin: 10rem auto;
    }
    .art3{
        width: 80%;
    }
    .latest-artical-overall{
        width: 80%;
        margin: 0 auto;
    }
    .artical:hover{
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 5px 10px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .footer-overall{
        width: 80%;
        margin: 0 auto;
    }
    
    
}
/* media query for 1201px */

  